body
{
	overflow: hidden;
}
#content
{
	display: flex;
	justify-content: center;
}
#stylish
{
	display: flex;
	flex-direction: column;
	width: 98%;
	border-radius: 0.5em;
	overflow: auto;
	height: 70vh;
}


#left_d
{
	display: flex;
	flex-direction: column;
	width: 50%;
	order: 1;
}
.display
{
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	margin-right: 1%;
}
.heart
{
	position: relative;
	margin-bottom: 2%;
	margin-left: 2.5%;
}
.fa-heart-o 
{
	color: red;
	cursor: pointer;
}

.fa-heart 
{
	color: red;
	cursor: pointer;
}

#actions
{
	display: flex;
	flex-direction: row;
}
.com_div
{
	width: 77%;
	margin-left: 2.5%;
}
.comment 
{
	background: 0;
	border: 4px dotted red;
	border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg');
	border-image-slice: 33% 33%;
	border-image-repeat: round;
	border-radius: 0.5em;
	outline: none;
	width: 43%;
	font-size: 1em;
	transition: padding 0.3s 0.2s ease;
}
.comment:focus 
{
	padding-bottom: 5px;
}
.counter
{
	padding-left: 2%;
}

#right_d
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 2%;
	order: 2;
}
#bubble
{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #00bfb6;
	padding: 20px;
	text-align: left;
	font-weight: 900;
	color: #fff;
	position: relative;
}
#bubble:before 
{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #00bfb6;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	left: -19px;
	top: 6px;
}
#capsule
{
	display: flex;
	flex-direction: row;
	margin-left: 1%;
}
.alert 
{
	padding: 1%;
	width: 99%;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
	display: none;
}
.closebtn 
{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover 
{
	color: black;
}
.alert > strong
{
	font-size: 2vw;
}
#infinite-list 
{
	width: 200px;
	height: 300px;
	overflow: auto;
}
