#content
{
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
}
#stylish
{
	display: flex;
	flex-direction: column;
	/* border: 1px solid whitesmoke; */
	width: 98%;
	border-radius: 0.5em;
}


#left_d
{
	display: flex;
	flex-direction: column;
	/* width: 50%; */
}
.display
{
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
}
.heart
{
	position: relative;
	margin-bottom: 2%;
	margin-left: 2.5%;
}
.fa-heart-o 
{
	color: red;
	cursor: pointer;
}
  
.fa-heart 
{
	color: red;
	cursor: pointer;
}

#actions
{
	display: flex;
	flex-direction: row;
}
.com_div
{
	width: 43%;
	margin-left: 2%;
}
.comment 
{
	background: 0;
	border: 4px dotted red;
	border-image-source: url('https://cl.ly/3c2J3c0l3r0P/dots.svg');
	border-image-slice: 33% 33%;
	border-image-repeat: round;
	border-radius: 0.5em;
	outline: none;
	width: 43%;
	font-size: 1em;
	transition: padding 0.3s 0.2s ease;
}
.comment:focus 
{
	padding-bottom: 5px;
}

#right_d
{
	display: flex;
	flex-direction: column;
	margin-left: -53%;
	margin-top: 2%;
}
#bubble
{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #00bfb6;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-family: arial;
	position: relative;
}
#bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #00bfb6;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	left: -19px;
	top: 6px;
  }
