body
{
	padding: 0%;
	margin: 0%;
	font-family: 'VT323', monospace;
	/* background-image: url("https://previews.123rf.com/images/sergt/sergt1605/sergt160500009/57935442-tv-bruit-blanc-sur-l-%C3%A9cran-lcd-r%C3%A9sum%C3%A9-de-fond.jpg"); */
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/No_Signal_23.JPG");
	background-repeat: no-repeat;
	background-position: center 100px;
	background-color: black;
	background-attachment: fixed;
	background-size: 80%;
}
header
{
	display: flex;
	flex-direction: row;
	height: 5%;
	width: 100%;
}
#head
{
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	border-radius: 0.5em;
}
#title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 3%;
	/* border: 1px red solid; */
}
h1
{
	color: black;
	/* margin-left: 20%; */
	font-size: 3.5vw;
	margin: 0;
	/* border: 1px solid green; */
	font-family: 'Ruslan Display', cursive;
}
span.emoji
{
	font-size: 2vw;
}
#title > a
{
	text-decoration: none;
}
h3
{
	margin: 0;
	position: relative;
	/* border: 1px green solid; */
}
.account
{
	display:flex;
	flex-direction: column;
	white-space: nowrap;
	justify-content: center;
	color : black;
	min-width: 10%;
	font-size: 1vw;
	padding-right: 1%;
}
.account > ul > li > a
{
	text-decoration: none;
	color : black;
}
.account > ul
{
	list-style: none;
}
.account > ul > li
{
	margin-top: 10%;
	margin-bottom: 10%;
}
.bar
{
	display: flex;
	justify-content: flex-start;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	height: 3%;
	width: 98%;
	background-color: whitesmoke;
	border-radius: 0.5em;
}
.bar > ul
{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.bar > ul > li
{
	margin-left: 20%;
	margin-right: 20%;
}
.bar > ul > li > a
{
	text-decoration: none;
	color : black;
	font-size: 1vw;
}
