body
{
	padding: 0%;
	margin: 0%;
	font-family: 'VT323', monospace;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/No_Signal_23.JPG");
	background-repeat: no-repeat;
	background-position: center 100px;
	background-color: black;
	background-attachment: fixed;
	background-size: 80%;
}
header
{
	display: flex;
	flex-direction: row;
	height: 5%;
	width: 100%;
}
#head
{
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	border-radius: 0.5em;
}
#title
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 3%;
}
h1
{
	color: black;
	font-size: 3.5vw;
	margin: 0;
	font-family: 'Ruslan Display', cursive;
}
span.emoji
{
	font-size: 2vw;
}
#title > a
{
	text-decoration: none;
}
h3
{
	margin: 0;
	position: relative;
}
.account
{
	display:flex;
	flex-direction: column;
	white-space: nowrap;
	justify-content: center;
	color : black;
	min-width: 10%;
	font-size: 1vw;
	padding-right: 1%;
}
.account > ul > li > a
{
	text-decoration: none;
	color : black;
}
.account > ul
{
	list-style: none;
}
.account > ul > li
{
	margin-top: 10%;
	margin-bottom: 10%;
}
.bar
{
	display: flex;
	justify-content: flex-start;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	height: 3%;
	width: 98%;
	background-color: whitesmoke;
	border-radius: 0.5em;
}
.bar > ul
{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.bar > ul > li
{
	margin-left: 20%;
	margin-right: 20%;
}
.bar > ul > li > a
{
	text-decoration: none;
	color : black;
	font-size: 1vw;
}
#loggued_on
{
	position: relative;
	top:10%;
}
#welcome 
{
	display: inline-block;
	color: black;
}  
#welcome::before 
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -webkit-linear-gradient(left, #f00, rgb(145, 255, 0));
	background: linear-gradient(to right, #f00, rgb(145, 255, 0));
	content: '';
	display: block;
	mix-blend-mode: screen;
}
footer
{
	display: flex;
	justify-content: right;
	position: relative;
	margin-right: 1%;
	margin-left: 1%;
	bottom: 0;
	margin-bottom: 1%;
	width: 98%;
}
#copyright
{
	color: whitesmoke;
	position: relative;
	left: 84%;
	font-size: 0.8vw;
}
#symbol
{
	color: whitesmoke;
	position: relative;
	left: 83.5%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.6vw;
}
