#content
{
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	margin-top: 3%;
}


#frame
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: whitesmoke;
	width: 98%;
	/* height: 110vh; */
	border-radius: 0.5em;
}
h2
{
	margin-top: 2%;
	margin-bottom: 1%;
	font-family: 'Ruslan Display', cursive;
	font-size: 2vw;
	text-align: center;
	color: black;
}


#camera-cont
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 2%;
	position: relative;
	margin: 0 auto;
	width: 95%;
	/* height: 50vh; */
	margin-bottom: 5%;
	padding-bottom: 2%;
	/* border: 3px solid green; */
	overflow: hidden;
}
#position
{
	display: flex;
	flex-direction: column;
	order:2;
	width: 60%;
	height: 100%;
	margin-left: 20%;
	margin-top: 2%;
	text-align: center;
	/* border: 1px solid red; */
}
#overlay
{
	position: relative;
}
#webcam
{
	position: relative;
	width: 95%;
	margin: 0 auto;
	/* border: 1px solid black; */
}
  
.buttonHolder
{
	display: flex;
	flex-direction: row;
	/* margin: 0%;
	padding:0;  */
	border: 1px solid black;
	position: relative;
}
  
.button
{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float: left;
	height: 5.5em;
	margin: 0 3% 0 0;
	position: relative;
	width: 9.5%;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	margin-top: 1%;
}
.minus
{
	margin-left: 30%;
}
.takepic
{
	border-radius: 20%;
}
.button:after
{
	color:#e9e6e4;
	content: "";
	display: block;
	/* font-size: 30px; */
	/* height: 30px; */
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	/* width: 30%; */
}	  
.takepic:after
{
	content: "⦿";
	font-size: 4vw;
	left: 23%;
	top: 12%;
}
  
.plus:after
{
	content: "✚";
	font-size: 3vw;
	left: 29%;
	top: 29%;
}
.minus:after
{
	left: 34%;
	top: 18%;
	content: "▬";
	font-size: 3vw;
}
.button:hover
{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}
  
.takepic:hover:after
{
	color:#f94e66;
	text-shadow:0px 0px 6px #f94e66;
}
  
.minus:hover:after
{
	color:#0088cc;
	text-shadow:0px 0px 6px #0088cc;
}
.plus:hover:after
{
	color:#0088cc;
	text-shadow:0px 0px 6px #0088cc;
}
.button:active
{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
  
.button:active:after
{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

/* #allButtons
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#plus
{
	margin-right: 2%; 
	margin-top: 1.5%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
	background: rgb(188, 218, 240);
    box-shadow: 0 0 3px gray;
}
#plus:hover 
{
	background:rgb(177, 199, 214);
}
#plus img 
{
    display: block;
    width: 76%;
    padding: 12%;
	height: auto;
	margin: 0 auto;
	margin-top: 25%;
	margin-bottom: 40%;
}
#takepic 
{
	margin-right: 2%; 
	margin-top: 1.5%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
	background: rgb(188, 218, 240);
    box-shadow: 0 0 3px gray;
}
#takepic:hover 
{
	background:rgb(177, 199, 214);
}
#takepic img 
{
    display: block;
    width: 76%;
    padding: 12%;
	height: auto;
	margin: 0 auto;
	margin-top: 25%;
	margin-bottom: 40%;
}
#minus
{
	margin-top: 1.5%;
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
	background: rgb(188, 218, 240);
    box-shadow: 0 0 3px gray;
}
#minus:hover 
{
	background:rgb(177, 199, 214);
}
#minus img 
{
    display: block;
    width: 76%;
    padding: 12%;
	height: auto;
	margin: 0 auto;
	margin-top: 25%;
	margin-bottom: 40%;
} */
/* #tv
{
	position: absolute;
	margin-top: -10.5%;
	margin-left: 45%;
	width: 55%;
	z-index: 1000;
	height: auto;
} */
#options
{
	display: flex;
	flex-direction: column;
	/* top: -80%; */
	position:absolute;
	order:1;
	width: 20%;
	/* border: 1px solid purple; */
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}
#options > h3
{
	font-size: 2vw;
	margin-bottom: 5%;
	margin-top: 2%;
	text-align: center;
}
#options > a
{
	text-align: center;
}
#options > a > img
{
	max-width : 60%;
	min-width: 10%;
	height: auto;
}
#history
{
	display: flex;
	flex-direction: column;
	order: 3;
	/* border: 1px solid purple; */
	width: 20%;
}
#history > h3
{
	font-size: 2vw;
	text-align: center;
}


#conteneur
{
	display: flex;
	width: 60%;
	border: 1px solid red;
	margin: 0 auto;
}
#transit
{
	position: relative;
	width: 95%;
	border: 1px solid violet;
	margin: 0 auto;
	/* display: none; */
}
#add_stickers
{
	position: relative;
	width: 95%;
	border: 1px solid violet;
	margin: 0 auto;
	/* display: none; */
}
#output
{
	display: flex;
	flex-direction: column;
	width: 95%;
	position: relative;
	/* border: 1px solid yellow; */
	margin: 0 auto;
	margin-bottom: 3%;
	/* display: inline-block; */
}
#result
{
	margin: 0 auto;
	width: 80%;
}
