#content
{
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	margin-top: 3%;
}


#frame
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: whitesmoke;
	width: 98%;
	/* height: 110vh; */
	border-radius: 0.5em;
}
h2
{
	margin-top: 2%;
	margin-bottom: 1%;
	font-family: 'Ruslan Display', cursive;
	font-size: 2vw;
	text-align: center;
	color: black;
}
#link_no_log
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	display: none;
}
#not_loggued
{
	margin-right: 5px;
}
#register
{
	margin-right: 5px;
	text-decoration-line: underline;
	cursor: pointer;
	color: black;
}
#register:hover
{
	color: #0088cc;
}
#signin
{
	margin-left: 5px;
	text-decoration-line: underline;
	cursor: pointer;
	color: black;
}
#signin:hover
{
	color: #0088cc;
}


#camera-cont
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 2%;
	position: relative;
	margin: 0 auto;
	width: 95%;
	/* height: 50vh; */
	margin-bottom: 5%;
	padding-bottom: 2%;
	/* border: 3px solid green; */
	overflow: hidden;
}
#position
{
	display: flex;
	flex-direction: column;
	order:2;
	width: 60%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 6%;
	text-align: center;
	/* border: 1px solid red; */
}
#overlay
{
	position: relative;
	z-index: 1000;
}
#webcam
{
	position: relative;
	/* width: 95%; */
	margin: 0 auto;
	/* border: 1px solid black; */
}
  
.buttonHolder
{
	display: flex;
	flex-direction: row;
	/* margin: 0%;
	padding:0;  */
	border: 1px solid black;
	position: relative;
}
  
.button
{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float: left;
	height: 5.5em;
	margin: 0 3% 0 0;
	position: relative;
	width: 9.5%;			
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	margin-top: 1%;
}
.minus
{
	margin-left: 30%;
}
.takepic
{
	border-radius: 20%;
}
.button:after
{
	color:#e9e6e4;
	content: "";
	display: block;
	/* font-size: 30px; */
	/* height: 30px; */
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	/* width: 30%; */
}	  
.takepic:after
{
	content: "⦿";
	font-size: 4vw;
	left: 23%;
	top: 12%;
} 
.plus:after
{
	content: "✚";
	font-size: 3vw;
	left: 29%;
	top: 29%;
}
.minus:after
{
	left: 34%;
	top: 18%;
	content: "▬";
	font-size: 3vw;
}
.button:hover
{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}
.takepic:hover:after
{
	color:#f94e66;
	text-shadow:0px 0px 6px #f94e66;
}
  
.minus:hover:after
{
	color:#0088cc;
	text-shadow:0px 0px 6px #0088cc;
}
.plus:hover:after
{
	color:#0088cc;
	text-shadow:0px 0px 6px #0088cc;
}
.button:active
{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
  
.button:active:after
{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}


#select_submit
{
	display: flex;
	flex-direction: row;
	margin-top: 4%;
	justify-content: center;
}
#img_to_upload
{
	display: none;
}
#to_upload
{
	cursor: pointer;
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
#submit
{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
#blah
{
	margin: 0 auto;
	display: none;
}
#downloaded
{
	display:none;
	/* left: 14%; */
	/* margin-left: 9.1%; */
}

#options
{
	display: flex;
	flex-direction: column;
	order:1;
	width: 20%;
	/* border: 1px solid purple; */
	width: 20%;
	height: 100%;
}
#options > h3
{
	font-size: 2vw;
	margin-bottom: 5%;
	margin-top: 2%;
	text-align: center;
}
#optionss
{
	display: flex;
	flex-direction: column;
	position:absolute;
	width: 19.5%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	/* border: 1px solid red; */
	margin-top: 5%;
}
#optionss > a
{
	text-align: center;
}
#optionss > a > img
{
	max-width : 60%;
	min-width: 10%;
	height: auto;
}
#history
{
	display: flex;
	flex-direction: column;
	order: 3;
	width: 20%;
	height: 100%;
}
#history > h3
{
	font-size: 2vw;
	text-align: center;
}
#previous
{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 20%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	margin-top: 5%;
}
#previous > img
{
	width: 100%;
	height: auto;
}
.buttonyHolder
{
	display: flex;
	flex-direction: row;
	/* margin: 0%;
	padding:0;  */
	border: 1px solid black;
	position: relative;
}
.buttony
{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	margin: 0 auto;
	height: 3.5%;
	width: 10%;
	padding-top: 2%;
	margin-left: 48%;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	margin-top: 1%;
	/* border: 1px solid red; */
}
.buttony:hover
{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}
.buttony:active
{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
  
.buttony:active:after
{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
.cross:after{
	content: "✖";
	margin-left: 30%;
	top: 50%;
}
.cross:hover:after{
	color:#eb2f2f;
	text-shadow:0px 0px 6px #eb2f2f;
}

#conteneur
{
	display: flex;
	width: 60%;
	/* border: 1px solid red; */
	margin: 0 auto;
}
#transit
{
	position: relative;
	width: 95%;
	border: 1px solid violet;
	margin: 0 auto;
	display: none;
}
#add_stickers
{
	position: relative;
	width: 95%;
	border: 1px solid violet;
	margin: 0 auto;
	display: none;
}
#output
{
	display: flex;
	flex-direction: column;
	width: 60%;
	position: relative;
	/* border: 1px solid yellow; */
	margin: 0 auto;
	margin-bottom: 8%;
	margin-top: 5%;
}
#result
{
	margin: 0 auto;
	display: none;
}
#cadre
{
	display: none;
	width: 90%;
	position: absolute;
	left: 8%;
	top: -18%;
}
.alert 
{
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
	display: none;
}
.closebtn 
{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover 
{
	color: black;
}
.alert > strong
{
	font-size: 2vw;
}
